2-Aurélien-Géron-Hands-On-Machine-Learning-with-Scikit-Learn-Keras-and-Tensorflow_-Concepts-Tools-and-Techniques-to-Build-Intelligent-Systems-O’Reilly-Media-2019.pdf filter=lfs diff=lfs merge=lfs -text
hands-on-machine-learning-with-scikit-learn-keras-and-tensorflow-2ndnbsped-978-1-492-03264-9_compress.pdf filter=lfs diff=lfs merge=lfs -text
